@model Comp229_Assignment2.Models.Dessert
@{
    ViewBag.Title = "Delete Dessert";
}
<h2>Delete Dessert </h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dessert</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DessertsName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DessertsName)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Admin")
        </div>
    }
</div>
