@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<p>Indian cuisine encompasses a wide variety of regional and traditional cuisines native to India. Given the range of diversity in soil type, climate, culture, ethnic group and occupations, these cuisines vary significantly from each other and use locally available spices, herbs, vegetables and fruits. Indian food is also heavily influenced by religious and cultural choices and traditions.[1] There has also been Middle Eastern and Central Asian influence on North Indian cuisine from the years of Mughal rule.[2] Indian cuisine has been and is still evolving, as a result of the nation's cultural interactions with other societies..</p>
<p>
    Phone: <a href="tel:+16477409907"> 647-740-9907</a><br />
    Email me :<a href="mailto:sachinsaini251998@gmail.com">Indian Cuisine</a><br />

    <a href="https://www.facebook.com/sachin.saini.528">
        <img src="~/Asset/images.png" alt="image" width="64" />
    </a><a href=" target="blank">

        <a href="https://www.instagram.com/sachin__sainii/">
            <img src="~/Asset/insta.jpg" alt="image" width="64" />
        </a><a href=" target="blank">

            <a href="https://twitter.com/sachinsaini2511">
                <img src="~/Asset/twitter.png" alt="image" width="64" />
            </a><a href=" target="blank"></a><br />
