@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <b>
        398 Steeles Ave W<br />
        Thornhill, ON L4J 6X3 - 6477409907<br />
        <abbr title="Phone">P:</abbr>
        647.555.0100
</address> </b>
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCEm_mXrTzFvj3qDqtjoCXE28k_lVmqqf8'></script><div style='overflow:hidden;height:504px;width:723px;'>
    <div id='gmap_canvas' style='height:504px;width:723px;'></div>
    <style>
        #gmap_canvas img {
            max-width: none !important;
            background: none !important;
        }
    </style>
</div> <a href='https://addmap.net/'>embed google map wordpress</a>
<script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=a36efb5cb102ba3508398a9323aafc07aa8fe3d2'></script>
<script type='text/javascript'>function init_map(){var myOptions = {zoom:13,center:new google.maps.LatLng(43.78785663020711,-79.38129840215451),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(43.78785663020711,-79.38129840215451)});infowindow = new google.maps.InfoWindow({content:'<strong>Indian Cuisine</strong><br>398 Steeles Ave W<br>M1K Scarborough<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
<address>
    </br>
    <strong>Enquiry:</strong>   <a href="mailto:sachinsaini251998@gmail.com">sachinsaini251998@gmail.com</a><br />
</address>